/* Aircraft */
.single .ant-tabs-nav-list {
  gap: 8px;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active {
  background: url("/public/card-active-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fff;
}

.ant-tabs-ink-bar {
  background-color: transparent !important;
}

.single .ant-tabs-tab {
  padding: 12px !important;
  min-width: 120px;
  background-color: #d9dee5 !important;
  color: #6f6f6f;
  margin: 0 !important;
  outline: none;
  justify-content: center;
  align-items: center;
  font-size: 16px !important;
  font-weight: 500;
  letter-spacing: 0.025em;
}

.single-mobile .ant-tabs-nav-list {
  width: 264px;
  min-width: 100%;
  gap: 8px;
  overflow: auto;
}

.single-mobile .ant-tabs-tab {
  padding: 8px !important;
  min-width: 96px;
  background-color: #d9dee5 !important;
  color: #6f6f6f;
  margin: 0 !important;
  outline: none;
  justify-content: center;
  align-items: center;
  font-size: 14px !important;
  font-weight: 500;
  letter-spacing: 0.025em;
}

.ant-collapse {
  border-radius: 0 !important;
  border: 1px solid black;
}

.ant-collapse-header {
  background: url("/public/wikipnsbg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border-radius: 0 !important;
  opacity: 1;
  align-items: center !important;
  font-weight: 600;
  padding: 12px 16px !important;
  height: 48px !important;
}

.ant-collapse-expand-icon {
  width: 40px !important;
  height: 40px !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-collapse-arrow>* {
  width: 20px !important;
  height: 20px !important;
  color: white;
}

.introduce-collapse .ant-tabs-nav-list {
  gap: 8px;
}

.ant-tabs-nav::before {
  border-bottom: none !important;
}

.introduce-collapse .ant-tabs-tab {
  padding: 8px !important;
  background-color: #d9dee5 !important;
  color: #6f6f6f;
  margin: 0 !important;
  outline: none;
  justify-content: center;
  align-items: center;
  font-size: 14px !important;
  font-weight: 500;
  letter-spacing: 0.025em;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}